main {
    max-width: 1400px;
    margin: 0 auto;
 }

.page {
    background-color: #f7f7f7;
    font-family: Montserrat Alternates;
    font-weight: normal;
    margin: 0;
}

@media screen and (min-width: 1001px){
    .container{
        flex-grow: 10;
        width: 800px;
    }
}
@media screen and (max-width: 1000px){
    .container{
        flex-grow: 5;
        width: 100%;
    }
}

.quote{
    padding-left: 70px;
    width: inherit;
    border-left: 5px solid rgba(53, 53, 53, 0.5);
}

.back-to-top{
    position: fixed;
    bottom: 0px;
}

p{
    display: block;
    width: inherit;
    word-wrap: break-word;
    margin-left: 64px;
    font-weight: li;
    font-size: 20px;
    line-height: 1.7;
    word-spacing: 0.4px;
}

.content{
    display: flex;
}

.side-panel{
    flex-grow: 1;    
    padding-top: 20px;
}

.button{
    color: rgb(53, 53, 53);
    text-decoration: none;
    padding: 10px 0px;
    border-bottom: #F6B33C solid 2px;
    font-size: 18px;
}

.side-panel{
    display: block;
}

.button:hover{
    background-color: #F6B33C;
    color: white;
}

.center{
    margin-left: 20%;
    display: block;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 16px;
    padding: 16px 0px 0px 16px; 
    width:90%;
}

h2{
    font-size: 2.25rem;
    line-height: 1.2;
    margin-bottom: 12px;
    margin-top: 16px;
    margin-left: 64px;
}

h3{
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-left: 64px;
}

.heading{
    width: 100%;
    background-color: #F6B33C;
    padding-bottom: 100px;
    color: white;
}

.code{
    background-color: #F0F0F0;
    font-weight: 300;
    font-size: 18px;
    white-space:pre;
    word-wrap: break-word; 
    width: inherit;
    border:1px rgba(51,51,51,.1) solid;
    border-radius: 3px;
    margin-left: 64px;
}